<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yy-MM-dd HH:mm:ss.SSS}){faint} %clr([%X{REQUEST_ID}]){red} %clr(%5p) %clr(${PID:- }){magenta} %clr(-){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yy-MM-dd HH:mm:ss.SSS} [%X{REQUEST_ID}] %5p ${PID:- } - [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.neoteric" level="TRACE"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.mongodb" level="INFO"/>
    <logger name="org.mongodb.driver.cluster" level="INFO"/>
    <logger name="org.quartz" level="INFO"/>
    <logger name="org.apache.activemq" level="DEBUG"/>
    <logger name="org.apache.activemq.transport" level="INFO"/>
    <logger name="io.swagger" level="INFO"/>

    <!-- Spring Boot -->
    <logger name="jndi" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="org.jboss" level="INFO"/>
    <logger name="org.apache.sshd" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>

    <logger name="com.netflix.servo" level="INFO"/>
    <logger name="com.netflix.discovery" level="INFO"/>

    <logger name="com.netflix.hystrix.strategy" level="INFO"/>
    <logger name="com.netflix.hystrix.strategy.properties" level="INFO"/>
    <logger name="com.netflix.loadbalancer" level="INFO"/>

    <logger name="net.sf.ehcache.statistics" level="INFO"/>
    <logger name="org.reflections" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</included>